* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
}

a {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 2vw;
    color: var(--color-primary-accent);
}