* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
}

a {
    text-decoration: none;
    font-family: var(--font-family);
    color: var(--color-primary-accent);
    transition: .5s;
}

a:hover {
    color: var(--color-secondary-accent);
}